@import "_global"

// Custom block style

body {
    margin 0
    padding 0
    font 12px/1.5 'Roboto Slab', "Microsoft YaHei", arial, 'Hiragino Sans GB', sans-serif
}

.header {

  position relative
  margin 0 auto
  width 1000px
  line-height 100px
  overflow hidden

  .logo {

    position relative
    margin 10px 0
    position relative
    width 300px
    height 100px
    float left

    a {
      .img {
        border none
      }
    }

    .sign {
      position absolute
      top 0
      right 0
      font-size 24px
    }
  }

  .links {
    position absolute
    right 0px
    bottom 0px
    line-height 45px
    color color-gray-lv6
    font-size 12px
  }
}

.content {

  .tip {

    padding-top 10px
    padding-bottom 10px
    width 100%
    text-align center
    background rgba(200, 200, 200, .1)

    .wrapper {

      i {
        position relative
        top 2px
      }
      
      .text {
        display inline-block
        vertical-align middle
        color color-gray-lv9
        font-size 12px
      }
    }
  }
}