* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
ul,
li {
  list-style: none;
}
.input {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(1.5px);
}
.link-common {
  color: initial;
  text-decoration: none;
}
.link-common:hover {
  color: initial;
  text-decoration: none;
}
.link-common:active {
  color: initial;
  text-decoration: none;
}
.link-common:visited {
  color: initial;
  text-decoration: none;
}
.clear:after {
  display: block;
  height: 0;
  clear: both;
  content: '';
}
.none {
  display: none;
}
.font-size-base {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-36 {
  font-size: 36px;
}
body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 'Roboto Slab', "Microsoft YaHei", arial, 'Hiragino Sans GB', sans-serif;
}
.header {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  line-height: 100px;
  overflow: hidden;
}
.header .logo {
  position: relative;
  margin: 10px 0;
  width: 320px;
  height: 100px;
  float: left;
}
.header .logo a .img {
  border: none;
}
.header .logo .sign {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}
.header .links {
  position: absolute;
  right: 0px;
  bottom: 0px;
  line-height: 45px;
  color: #666;
  font-size: 12px;
}
.content {
  margin-bottom: 30px;
}
.content .tip {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.content .tip .wrapper i {
  position: relative;
  top: 2px;
}
.content .tip .wrapper .text {
  display: inline-block;
  vertical-align: middle;
  color: #999;
  font-size: 12px;
}
.content .center {
  margin: 10px 0 20px;
  position: relative;
  height: 475px;
  z-index: 5;
}
.content .center .signin-box {
  margin: 0 auto;
  width: 990px;
}
.content .center .signin-box .form-box {
  position: relative;
  top: 40px;
  width: 346px;
  float: right;
  background: #fff;
  border: 1px solid #ddd;
  overflow: visible;
  z-index: 4;
}
.content .center .signin-box .form-box .tips-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  background: #efefef;
}
.content .center .signin-box .form-box .tips-wrapper .tips .iconfont {
  position: relative;
  top: 2px;
}
.content .center .signin-box .form-box .tips-wrapper .tips .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #999;
}
.content .center .signin-box .form-box .tabs {
  width: 100%;
}
.content .center .signin-box .form-box .tabs .tab {
  position: relative;
  float: left;
  width: 50%;
  height: 54px;
  font-size: 15px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}
.content .center .signin-box .form-box .tabs .tab a {
  position: absolute;
  top: 18px;
  left: 0;
  width: 99%;
  height: 18px;
  border-right: 1px solid #f4f4f4;
}
.content .center .signin-box .form-box .signin .wrapper {
  padding: 0 20px 20px 20px;
}
.content .center .signin-box .form-box .signin .wrapper .err-msg .text {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #a50000;
  overflow: hidden;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-item {
  margin-bottom: 20px;
  position: relative;
  width: 306px;
  height: 38px;
  border: 1px solid #bdbdbd;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-item .iconfont {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-right: 1px solid #bdbdbd;
  z-index: 3;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-item .input {
  padding: 18px 30px 18px 50px;
  display: block;
  width: 100%;
  height: 18px;
  line-height: 18px;
  float: none;
  border: 0;
  font-size: 14px;
  overflow: hidden;
  outline: none;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component {
  margin-bottom: 20px;
  position: relative;
  width: 306px;
  height: 38px;
  color: #4f4e4e;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .checkbox-wrapper {
  display: inline-block;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .checkbox-wrapper .icon-squarecheck {
  position: relative;
  z-index: 99;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .checkbox-wrapper .checkbox {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 16px;
  z-index: 199;
  opacity: 0;
  cursor: pointer;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .forgot-pass {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 24px;
  line-height: 24px;
  color: #4f4e4e;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .forgot-pass:hover {
  text-decoration: underline;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .form-button {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  border: 0;
  font-size: 16px;
  overflow: hidden;
  outline: none;
  color: #fff;
  background: #4f4e4e;
  letter-spacing: 0.9px;
  cursor: pointer;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-component .form-button:hover {
  background: #333;
}
.content .center .signin-box .form-box .signin .wrapper .form .form-error {
  border: 1px solid #f00 !important;
}
.content .center .signin-box .form-box .signin .wrapper .oauth .items {
  display: flex;
  justify-content: space-around;
}
.content .center .signin-box .form-box .signin .wrapper .oauth .items .item {
  display: block;
  cursor: pointer;
}
.content .center .signin-box .form-box .signin .wrapper .oauth .items .item .iconfont {
  font-size: 24px;
}
.content .center .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 475px;
}
.content .center .banner .main {
  margin-left: 10%;
  width: 51%;
  height: 100%;
}
.content .center .banner .main .editor {
  margin: 0;
  padding: 30px 50px;
}
.content .center .banner .main .editor .title {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  color: color #444;
}
.content .center .banner .main .editor .items {
  padding-left: 20px;
  list-style: initial;
}
.content .center .banner .main .editor .items .item {
  margin: 5px 0;
  color: color #666;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style: initial;
}
.footer .copyright {
  margin: 10px 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
