* {
	margin: 0;
	padding: 0;
}

ul, li {
    list-style: none;
}

.clear:after {
    display: block;
    height: 0;
    font-size: 0;
	content: " ";
    overflow: hidden;
    clear: both;
}

.link-common {
	color: initial;
	text-decoration: none;
}

.form {
    margin: 30px;
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form .form-header {
    position: relative;
    margin: 0;
    padding: 25px 25px 15px 25px;
    color: #444;
    font-size: 1.25em;
}

.form .form-header .signin-qrcode {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 12px;
    color: #444;
}

.form .form-body {
    padding: 30px;
}

.form .form-body .form-item {
    width: 100%;
}

.form .form-body .form-item .input {
    margin-bottom: 20px;
    padding: 6px 0;
    display: block;
    width: 100%;
    outline: 0;
    background: #fff;
    font-size: 1em;
    font-weight: normal;
    text-indent: 23px;
    border: 1px solid #d5dce5;
    border-radius: 3px;
}

.form .form-body .form-item .btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #f00;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    clear: both;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #fff inset;
}

.form .form-footer {
    padding: 30px;
}

.form .form-footer .third-parts {
    text-align: center;
}

.form .form-footer .third-parts .third-part {
    float: left;
    display: block;
    margin: 10px;
    height: 30px;
    line-height: 30px;
}











